div, form {
  margin: 1em auto;
}

#speedometer {
	position: absolute;
	bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 200px;
	height: 200px;
}

#controls {
  width: 500px;
}
