body {
	font-family: 'Open Sans', sans-serif;	
	margin: 0px;
}

.container{
	text-align: center;

	background: url("../images/speedway.jpg") no-repeat 50% 30% rgba(0, 0, 0, 0);
	padding-bottom: 2em;
}



.menu ul li {
	margin: 1em;
	display: inline-block;
	list-style: none;
	text-decoration: none;
	-moz-box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    padding: 1em 0em;
}


.menu ul{
	padding: 0;
}

.menu ul li a {
	padding: 1em;

}
#logo{
	width: 100%;
	max-width: 450px;
}

.cars{
	box-shadow: 0 20px 8px -15px rgba(0, 0, 0, 0.5) inset;

	background-color: #e9e9e9;
	margin-top: -24px;
}

.speedways{
	box-shadow: 0 20px 8px -20px rgba(0, 0, 0, 0.5) inset;

	background-color: #e9e9e9;
	margin-top: -24px;
}


.general-heading{
	padding-top: 2em;
	padding-left: 2em;
	font-weight: 300;
	font-size: 1.5em;
}

.size{
	width: 280px;
	height: 280px;
}

.center-content ul {
	text-align: center;
	padding: 1em 0em;
}

.center-content ul li{
    padding: 0em 2em;
	display: inline-block;
	list-style: none;
	text-decoration: none;
	text-align: center;
    text-decoration: none;
    font-weight: 300;
}

.center-content ul li a{
	margin-left: 15px;
	
}

.round-button {
	width:280px;
	margin: 1.5em 0;

}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

}


/*Radio-Buttons mit Checkhaken*/

.radio{
	margin-top: 4.5em;
	margin-bottom: 2.5em;
	cursor: pointer;
}

.radio label:before {
	border-radius: 50px;
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 0em 2em;
	font-size: 13px;
}

input[type=radio],
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	bottom: 0px;
	background-color: transparent;
	border: 5px solid grey;
	
}

input[type=radio]:checked + label:before {
    content: "\2713";
    color: #418f58;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    border: 5px solid #418f58;
}


/* Game CSS */
#viewport {
	overflow: hidden;
}
#timer {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	font-size: 40px;
}
#tacho {
	position: absolute;
	bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 270px;
	height: 150px;
}
#speedometer {
	float: left;
	width: 150px;
	height: 150px;
}
#tachometer {
	float: left;
	width: 120px;
	height: 120px;
	margin-top: 30px;
}
#tracking-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20%;
	height: 20%;
}
#tracking-overlay img
{
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tracking-ball {
	background: red;
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
}
#damage {
	position: absolute;
	bottom: 20px;
	right: 30px;
	width: 200px;
	height: 20px;
	border: 1px solid #fff;
	background-image: -moz-linear-gradient(left, #8B0000 1%, transparent 1%);
	background-image: -webkit-linear-gradient(left, #8B0000 1%, transparent 1%);
	background-image: -ms-linear-gradient(left, #8B0000 1%, transparent 1%);
	background-image: -o-linear-gradient(left, #8B0000 1%, transparent 1%);
}

#result {
	text-align: center;
	position: absolute;
	color: #000;
	top: 50px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border: 1px solid red;
}

#result .restart.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 20px 2px 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#result .restart..button:hover {
	text-decoration: none;
}
#result .restart..button:active {
	position: relative;
	top: 1px;
}
#result .restart.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
#result .restart.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
#result .restart.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

#result .time {
	padding-top: 20px;
}

#hurt {
	background-color: red;
	display: none;
	left: 0;
	opacity: 0.15;
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 1002;
}